KERNEL=="hidraw*", ATTRS{idVendor}=="1774", ATTRS{idProduct}=="1001", MODE="0660", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1774", ATTRS{idProduct}=="1001", MODE="0660", GROUP="plugdev"
